@model List<ALM_Inlamning1.Models.Customer>

@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <h2>Emmas bankapplikation</h2>
</div>

<div class="row">

    <div class="col-md-7">
        <h2>Accounts</h2>

        @foreach (var values in Model)
        {
            <h5><b>@values.Name @values.LastName</b>  har kundnummer: @values.PersonId </h5>
            @foreach (var item in values.Account)
            {
                <h5>Saldo på konto nummer @item.AccountId är @item.Money:-</h5>
            }
            <hr/>
        }      

    </div>
    <div class="col-md-3">
        <h2>Run &amp; Deploy</h2>

    </div>
</div>
